{
    "extends": [
        "eslint-config-andrew-codes/base"
    ],
    "rules": {
        "import/no-nodejs-modules": 0,
        "linebreak-style": [
            1,
            "windows"
        ],
        "no-magic-numbers": 0
    }
}
